@import "tailwindcss";

@theme {
  --color-eu-blue: #5620F6;
  --color-eu-purple: #4918AD;
  --color-eu-yellow: #FFF4E1;
  --color-eu-beige: #FFF4E1;
  --color-eu-teal: #5620F6;
  --color-eu-orange: #4918AD;
  --color-eu-bg: #F3F6F8;
  --color-eu-text: #111827;
  --color-eu-border: #C9D1E0;
  --color-eu-footer: #24324A;
  --font-sans: "Instrument Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--color-eu-bg);
  color: var(--color-eu-text);
  font-family: var(--font-sans);
}

